<aside class="sidebar">
  <section class="profile">
    <img
      src="/assets/jpg/profile-picture.jpg"
      alt="Profile picture"
      class="profile__picture"
    />
    <h1 class="profile__title">Sebastian Knudsen</h1>
    <ul class="profile__info">
      <li>MSc Cybernetics and Robotics, NTNU</li>
      <li>Web developer</li>
      <li>Graphic designer</li>
      <li>Oslo, Norway</li>
    </ul>
    <a class="profile__contact-me" href="mailto:knudsen.sebastian@gmail.com"
      >Contact me</a
    >
    <div class="social">
      <a href="https://github.com/sebdak" class="social__item"
        ><img src="/assets/svg/github-logo.svg" alt="github profile"
      /></a>
      <a
        href="http://linkedin.com/in/sebastian-dahle-knudsen-6ba0a0116"
        class="social__item"
        ><img src="/assets/svg/linkedin-logo.svg" alt="linkedin profile"
      /></a>
    </div>
  </section>
</aside>

<script>
  const sidebar = document.getElementsByClassName("sidebar")[0];
  if (window.location.pathname === "/") {
    sidebar.style.display = "flex";
    sidebar.style.visibility = "visible";
  }
</script>
