.blog-posts {
  margin: 0;
  list-style: none;
  color: $charcoal;

  li {
    padding: 1rem 0;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: $charcoal;

      p {
        margin: 0;
      }

      h2 {
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }
  }

  li:hover {
    h2 {
      text-decoration: underline;
    }
  }
}
