<aside class="sidebar">
  <img src="" alt="logo" class="sidebar__logo" />
  <section class="profile">
    <img src="#" alt="Profile picture" class="profile__picture" />
    <h1 class="profile__title">Sebastian Knudsen</h1>
    <ul class="profile__info">
      <li>MSc Cybernetics and Robotics, NTNU</li>
      <li>Web developer</li>
      <li>Graphic designer</li>
      <li>Oslo, Norway</li>
    </ul>
    <div class="social">
      <a href="" class="social__item"><img src="" alt="github profile" /></a>
      <a href="" class="social__item"><img src="" alt="linkedin profile" /></a>
    </div>
  </section>
</aside>
